/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
body {
    font-family: 'Source Code Pro', monospace;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    padding: 2rem 1.5rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1.5rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}


/* --------new task------- */
header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.new-task-form {
    display: flex;

}

input, button {
    color: white;
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.new-task-form input {
    flex: 1 1 0%;
    padding: 1rem;
    font-size: 1rem;
    background-color: rgb(62, 62, 62);
    margin-right: 2rem;
    border-radius: 1rem;
}

#new-task-btn {
    color: rgb(45, 45, 45);
    font-weight: 600;
}

.error-container span {
   color: red;
   margin-left: 1rem;

}


/* ------------tasks---------- */
.tasks {
    display: flex;
    flex-flow: column;
}

.task {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    background-color: black;
    border-radius: 1rem;
}

.task-content {
    flex: 1 1 0%;
}

.task-text {
    width: 100%;
    color: white;
    font-size: 1rem;
    line-height: 2rem;
}

#task-remove-btn {
    color: rgb(106, 64, 64);
    font-weight: 600;
}

#task-done-btn {
    color: rgb(67, 133, 79);
    font-weight: 600;
    margin-right: 1rem;
    
}

.task-done {
    text-decoration: line-through;
    color:rgb(137, 137, 137)
}

/* -----------no task---------- */

.no-task {
    margin-top: 2rem;
    text-align: center;
}

/* --------------color placeholder------------- */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(118, 118, 118);
    opacity: 1; /* Firefox */
  }
