<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700;800&display=swap"
    rel="stylesheet">
  <!-- bootstrp -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <!-- my style -->
  <link rel="stylesheet" href="css/style.css">
  <!-- libreria js -->
  <script src="js/libreria.js"></script>
  <!-- libreria vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <title>Hello_Vue</title>

</head>

<body >

  <div id="app" class="wrapper">
    <header>
      <h1>Task List 2022</h1>
      <div class="new-task-form">
        <input id="new-task-input" type="text"
        v-model="newTaskText" placeholder="Add here your task" @keyup.enter="addNewTask">
        <button @click="addNewTask" id="new-task-btn" type="button">Add</button>
      </div>
      <div class="error-container" v-if="error">
        <span>The task must be at least 4 characters long</span>
      </div>
    </header>
    
    
    <main>
      <section class="task-list">
        <h2>Tasks</h2>
        <div v-if="this.tasks.length > 0" class="tasks" >
          <div v-for="(item, index) in tasks" class="task">
            <div class="task-content">
              <input class="task-text" :class="{'task-done':item.done}" type="text" :placeholder="item.text" :readonly="item.readOnly" @keyup.enter="enterModify(index)">
            </div>
            <div class="task-option">
              <button id="task-prefer-btn" type="button" @click="addPrefer(index)"><i class="fa-solid fa-star grey" ></i></button>
              <button id="task-modify-btn" type="button" @click="modifyTask(index)"><i class="fa-solid fa-pen" ></i></button>
              <button id="task-done-btn" type="button" @click="isDone(index)"><i class="fa-solid fa-check"></i></button>
              <button id="task-remove-btn" type="button" @click="deleteTask(index)"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>
        <div class="no-task" v-else>
          <h2>There are no new tasks</h1>
        </div>
      </section>
    
    </main>
  </div>
  

  

  <!-- mio js -->
  <script src="js/script.js"></script>
</body>

</html>